<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a href="#"><img src="images/logoinvert.png" style="display: inline-block; height: 50px; padding:5px">
			</a>
        </div>
        <!-- Navigation bar content-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
				<li>
                    <a href="#"><h4>T-rate</h4></a>
                </li>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#explore">Explore</a>
                </li>
                <li>
                    <a href="#profile">Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#profile" data-toggle=""></a>
                </li>
                <li>
                    <a href="#logout" data-toggle="" data-target="#loginModal">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <!-- row -->
    <div class="row">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
			<a href="#adminhome"><button type="button" class="btn btn-custom pull-right">&larr; Back</button></a>
                <h3 class="panel-title">Teachers</h3>
				<br>
				
            </div>
            <div class="panel-body">
			<div class="row">
			<div class="input-group" style="width:95%; margin: 0 auto;">
                            <input type="text" class="form-control" placeholder="Search"  ng-model="searchTxt" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="search()">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                
				
                        <div class="teacherCard col-lg-4 col-sm-4" ng-repeat="teacher in teach | filter:searchTxt">
						</br>
						<div class="well well-sm">
                        <h4>{{teacher.teachname}}</h4>
						<p>Course: {{teacher.coursename}}</p>
						

						<button type="submit" class="btn btn-danger" style="width:100%" ng-click="deleteTeacher(teacher.teachID)">Delete</button>
						</div>
              
							
							

						</div>
                    </div>
				
				
				
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; T-rate 2017</p>
            </div>
        </div>
    </footer>
</div>