<!-- Navigation -->
<nav ng-controller="MainController" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img src="images/logoinvert.png" style="display: inline-block; height: 50px; padding:5px">
            </a>
        </div>
        <!-- Navigation bar content-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <h4>T-rate</h4>
                    </a>
                </li>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#explore">Explore</a>
                </li>
                <li ng-hide="!IsSignedIn">
                    <a href="#profile">Profile</a>
                </li>
                <li class="dropdown" ng-hide="!IsSignedIn">
                    <a class="dropdown-toggle" data-toggle="dropdown">Settings
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--- these dont exist yet -->
                        <li><a href="accountsettings.html">Account settings</a></li>
                        <li><a href="reportbugs.html">Report bugs</a></li>
                        <li><a href="#profileSettings">Profile settings</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#contact" ng-hide="!IsSignedIn">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="IsSignedIn">
                    <a href="#" data-toggle="modal" data-target="#loginModal">Log in</a>
                </li>
                <li ng-hide="!IsSignedIn">
                    <a href="#logout" data-toggle="" data-target="#loginModal">Log out</a>
                </li>
                <li ng-hide="IsSignedIn">
                    <!--- no sign up modal yet-->
                    <a href="#" data-toggle="modal" data-target="#signUpModal">Sign up</a>
                </li>
            </ul>
            <!-- search bar -->
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<header class="secondheader">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="tagline text-center">{{tag}}</h3>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container" ng-controller="MainController">
    <!-- row -->
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Courses</h3>
                </div>
                <div class="panel-body">
                    <div class="courses" ng-repeat="course in courses">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">{{course.Course_Name}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">
                    <div class="courses" ng-repeat="location in locations">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">{{location.Place}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-danger btn-block">Filter</a>
        </div>
        <br>
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Explore</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-8 col-md-8">

                        <div class="input-group" style="width:100%">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="input-group">

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#addTeacherModal">
                                    <i class="glyphicon glyphicon-plus"></i> Add teacher
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="teacherCard" ng-repeat="teacher in teachers">
                        <h4>{{teacher.TeachName}}</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <a class="btn btn-default btn-sm" ng-click="setTeacherPage(teacher.TeacherID)" href="#review">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Rate &raquo;
                        </a>
                        <table class="table table-condensed">
                            <th></th>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; T-rate 2017</p>
            </div>
        </div>
    </footer>
</div>





<!-- Modal -->
<div id="addTeacherModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Teacher missing? Add them here.</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add teacher</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Text area -->
                        <!-- Teacher Name-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Teacher Name</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="teacher_name" placeholder="Teacher Name" class="form-control" type="text" ng-model="teacher_name">
                                </div>
                            </div>
                        </div>
                        </br>
                        </br>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Course</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownCourses" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">{{currentCourse}}
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownCourses">
                                        <li ng-repeat="item in courses" data-id="{{item.ID}}" ng-click="selectedCourse(item.ID, item.Course)"><a>{{item.Course}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </br>
                        </br>
                        <button type="submit" class="btn btn-success pull-right" ng-click="addTeacher()">Send
                    </button>


                    </div>
                </div>
                <p class="text-center small">Will be reviewed by administrator</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>