      <!-- Navigation -->
      <nav ng-controller="MainController" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">T-rate</a>
            </div>
            <!-- Navigation bar content-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="#home">Home</a>
                  </li>
                  <li>
                     <a href="#explore">Explore</a>
                  </li>
                  <li>
                     <a href="#profile">Profile</a>
                  </li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown">Settings
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <!--- these dont exist yet -->
                        <li><a href="accountsettings.html">Account settings</a></li>
                        <li><a href="reportbugs.html">Report bugs</a></li>
                        <li><a href="#profileSettings">Profile settings</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="#faq">FAQ</a>
                  </li>
                  <li>
                     <a href="#contact">Contact</a>
                  </li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                 <li ng-hide="IsSignedIn">
                    <a href="#" data-toggle="modal" data-target="#loginModal">Log in</a>
                </li>
                <li ng-hide="!IsSignedIn">
                     <a href="#logout" data-toggle="" data-target="#loginModal">Log out</a>
                </li>
                <li ng-hide="IsSignedIn">
                    <!--- no sign up modal yet-->
                    <a href="#" data-toggle="modal" data-target="#signUpModal">Sign up</a>
                </li>
               </ul>
               <!-- search bar -->
               <form class="navbar-form navbar-right">
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search">
                     <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </nav>
      <header class="secondheader">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h1 class="tagline">Some fancy tagline here</h1>
               </div>
            </div>
         </div>
      </header>
      <!-- Page Content -->
      <div class="container" ng-controller="MainController">
         <!-- row -->
         <div class="row">
            <div class="col-sm-4 col-md-4">
               <br>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Courses</h3>
                  </div>
                  <div class="panel-body">
                     <div class="checkbox">
                        <label><input type="checkbox" value="">Information Technology</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="">Tourism Management</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="">Leisure Management</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="">Marketing</label>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Location</h3>
                  </div>
                  <div class="panel-body">
                     <div class="checkbox">
                        <label><input type="checkbox" value="">Leeuwarden</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="">Emmen</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="">South-Africa</label>
                     </div>
                     <div class="checkbox">
                        <label><input type="checkbox" value="">Bali</label>
                     </div>
                  </div>
               </div>
               <a href="#" class="btn btn-danger btn-block">Filter</a>
            </div>
            <br>
            <div class="col-sm-8 col-md-8">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Explore</h3>
                  </div>
                  <div class="panel-body">
				  <div class="col-sm-8 col-md-8">
                     
                        <div class="input-group" style="width:100%">
                           <input type="text" class="form-control" placeholder="Search">
                           <div class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                              <i class="glyphicon glyphicon-search"></i> 
                              </button>
                           </div>
						   
                        </div>
						</div>
						
                    
					 <div class="col-sm-4 col-md-4">
					 <div class="input-group">
                           
                           <div class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                              <i class="glyphicon glyphicon-plus"></i> Add teacher
                              </button>
                           </div>
						   
                        </div>
                  </div>
				  </div>
               </div>
            </div>
            <div class="col-sm-8 col-md-8">
               <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="teacherCard" ng-repeat="teacher in teachers">
                     <h4>{{teacher.TeachName}}</h4>
                     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                     <a class="btn btn-default btn-sm" ng-click="setTeacherPage(teacher)" href="#review">
                     <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Rate &raquo;
                     </a>
                     <table class="table table-condensed">
                        <th></th>
                     </table>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <hr>
         <!-- Footer -->
         <footer>
            <div class="row">
               <div class="col-lg-12">
                  <p>Copyright &copy; T-rate 2017</p>
               </div>
            </div>
         </footer>
      </div>