<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img src="images/logoinvert.png" style="display: inline-block; height: 50px; padding:5px">
            </a>
        </div>
        <!-- Navigation bar content-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <h4>T-rate</h4>
                    </a>
                </li>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#explore">Explore</a>
                </li>
                <li>
                    <a href="#profile">Profile</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Settings
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#reportbugs">Report bugs</a></li>
                        <li><a href="#profileSettings">Profile settings</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#profile" data-toggle="">Hello, {{userData.Name}}</a>
                </li>
                <li>
                    <a href="#logout" data-toggle="" data-target="#loginModal">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="secondheader">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="tagline text-center">{{tag}}</h3>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <!-- row -->
    <div class="row">
        </br>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your most recent reviews</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-5 well" style="margin:3%; margin-top:0;" ng-repeat="userReview in reviews | limitTo: limit">
                    <div class="well emptyborder" style="width: 100%; height: 8em; line-height: 1em; word-wrap: break-word;">
                        <p><i>{{userReview.comment}}</i></p>
                    </div>
                    <div class="col-sm-12">
                        <div class="well well-sm" style="margin:0">
                            <h6>Atmosphere <img class="pull-right" ng-src="images/stars/{{userReview.Atmosphere}}star.png" height="15"></h6>
                        </div>
                        <div class="well well-sm" style="margin:0">
                            <h6>Helpfulness <img class="pull-right" ng-src="images/stars/{{userReview.Helpfulness}}star.png"
                                    height="15"></h6>
                        </div>
                        <div class="well well-sm" style="margin:0">
                            <h6>Lectures <img class="pull-right" ng-src="images/stars/{{userReview.Lectures}}star.png" height="15"></h6>
                        </div>
                        <div class="well well-sm" style="margin:0">
                            <h6>Preparation <img class="pull-right" ng-src="images/stars/{{userReview.Preparation}}star.png"
                                    height="15"></h6>
                        </div>
                        <div class="well well-sm" style="margin:0">
                            <h6>Professionalism <img class="pull-right" ng-src="images/stars/{{userReview.Professionalism}}star.png"
                                    height="15"></h6>
                        </div>
                    </div>
                    <div class="btn-group" style="width:100%; margin-top: 15px;">
                        <button class="btn btn-danger glyphicon glyphicon-trash pull-right" data-toggle="tooltip" data-placement="left" title="Delete review"
                            ng-click="deleteReview(userReview.Review_ID)"></button>
                    </div>
                </div>

                <div class="col-md-12">
                    <button class="btn btn-default" style="width:100%;" ng-click="more()">See more</button>
                </div>
            </div>



        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; T-rate 2017</p>
            </div>
        </div>
    </footer>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>