

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }



/****** Style Star Rating Widget *****/

.ratingstar {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 30px;
}
.ratingstar > label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.ratingstar > label.active:before,
.ratingstar > label.active ~ label:before,
.ratingstar > label:hover:before,
.ratingstar > label:hover ~ label:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

input {
  display: none;
}




.stars { 
  border: none;
  float: left;
  
  
}
.stars > input { display: none; } 
.stars > label:before { 
  font-size: 1.25em;
  display: inline-block;
  content: "\f005";
   background: url('../images/star.png');
 background-size: 100%;
 background-repeat: no-repeat;
 background-position: center;
  
}

.stars > label { 
  color: #ddd; 
 float: right; 

}

h4
{
	margin: 0;
}
